all_workflows.json
[{"updatedAt":"2025-12-26T21:11:57.068Z","createdAt":"2025-12-26T20:32:39.915Z","id":"hiYY-b2spaRsah4h2fyjm","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"f2c37e94-3db0-4f79-ac98-83e3813ac523","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"d4dfcc67-8ab9-434c-85f6-045b7844eef2","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=http://nextcloud/remote.php/dav/files/house{{ $json.body.file }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e96707ad-d286-4031-978a-5fbd015081cf","name":"Download APK","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"credentials":{"httpBasicAuth":{"id":"hCW1PQzn88Ukcc0j","name":"nextcloud http request"}}},{"parameters":{"url":"https://www.virustotal.com/api/v3/files/upload_url","options":{}},"id":"9df27c1f-416d-4847-abf0-9d72134359cd","name":"Get Upload URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0]},{"parameters":{"jsCode":"// Get the upload URL from previous node\nconst uploadUrl = $input.item.json.data;\n\n// Get the binary file data from Download APK node\nconst downloadNode = $workflow.getNode('Download APK');\nconst downloadData = $workflow.getNodeExecutionData(downloadNode.name, 0, 0);\nconst binaryData = downloadData.binary.data;\n\n// Pass both forward\nreturn {\n  json: {\n    uploadUrl: uploadUrl,\n    fileName: $('Webhook').item.json.body.file\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"id":"ad3543dc-068e-497a-b7ae-cb408bf940a9","name":"Merge Upload URL and Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{"method":"POST","url":"={{ $json.uploadUrl }}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"febe6773-37de-4dd4-92bf-ebd264f97934","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[608,0]},{"parameters":{"amount":60,"unit":"seconds"},"id":"64766b0a-ca48-491b-9ca6-6c19c47d692b","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[800,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","options":{}},"id":"066ffb76-9058-4493-88d7-b32004d8fe3a","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1008,0]},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"672781bf-e11c-44d0-b312-91518489e9e1","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"d350b1fa-13e4-4543-a16a-af9eb672914a","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1408,0],"webhookId":"5bc15cbf-30c9-40ba-9025-b0d3dc7e35a2"},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"f781667e-b646-4269-8a2d-2f6d7e99ad75","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK":{"main":[[{"node":"Get Upload URL","type":"main","index":0}]]},"Get Upload URL":{"main":[[{"node":"Merge Upload URL and Binary","type":"main","index":0}]]},"Merge Upload URL and Binary":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2ede6850-1b6d-43dd-ab98-d0f0056ad18a","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T20:32:39.915Z","createdAt":"2025-12-26T20:32:39.915Z","role":"workflow:owner","workflowId":"hiYY-b2spaRsah4h2fyjm","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-31T02:59:43.565Z","createdAt":"2026-01-31T02:59:43.565Z","id":"BXTuXlAcDmY2XJnk","name":"Minecraft Monitoring V3 (Clean)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"minecraft-chat-sync","options":{}},"id":"e4a2826a-9f79-44be-873b-0349c1ef763b","name":"minecraft webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[450,700],"webhookId":"minecraft-chat-sync-uuid"},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":30}]}},"id":"b0f1e2d3-c4b5-4a6b-8c7d-9e0f1a2b3c4d","name":"poll every 30s","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[450,900]},{"parameters":{"url":"https://mcapi.us/server/status?ip=dupemates.playit.pub","options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"get server status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,900]},{"parameters":{"method":"POST","url":"http://172.17.0.1:4100/api/broadcast","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"BROADCAST_AUTH_KEY"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"={{ $json.body?.type || 'ping' }}"},{"name":"player","value":"={{ $json.body?.player || 'system' }}"},{"name":"message","value":"={{ $json.body ? JSON.stringify($json.body) : 'NO_BODY_FOUND' }}"},{"name":"online","value":"={{ $json.body?.online !== undefined ? $json.body.online : ($json.online || false) }}"},{"name":"count","value":"={{ $json.body?.count !== undefined ? $json.body.count : ($json.players?.now !== undefined ? $json.players.now : ($json.players?.online || 0)) }}"},{"name":"extra","value":"={{ $json.body?.extra || { tps: 20, motd: $json.motd || ($json.motd?.clean ? $json.motd.clean[0] : 'Minecraft Server'), version: $json.server?.name || $json.version || '1.21.10', favicon: $json.favicon || '' } }}"},{"name":"timestamp","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"c6aed61f-f132-4464-9f79-677ae967a5cf","name":"send event to website","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[950,800]}],"connections":{"minecraft webhook":{"main":[[{"node":"send event to website","type":"main","index":0}]]},"poll every 30s":{"main":[[{"node":"get server status","type":"main","index":0}]]},"get server status":{"main":[[{"node":"send event to website","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"cefec2ec-bcfc-44c8-a902-b5a951239083","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-31T02:59:43.565Z","createdAt":"2026-01-31T02:59:43.565Z","role":"workflow:owner","workflowId":"BXTuXlAcDmY2XJnk","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-23T05:58:19.663Z","createdAt":"2026-01-19T21:35:48.052Z","id":"ZmL7Isrw44nvUcaniToyk","name":"mc server watcher","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"5473df04-4e89-4c72-b83d-12eb75112db3","name":"check every 1m","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-128,1344]},{"parameters":{"url":"https://api.mcstatus.io/v2/status/java/n5xhdupe.minefort.com","options":{}},"id":"e560ef41-4584-4bf1-912a-52a0422a8d96","name":"get status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,1344]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\n// Get current online status safely\nconst isOnline = $json.online === true;\nconst currentVersion = $json.version?.name_raw || 'Unknown';\n\n// Get last known state (default to online to prevent first-run spam)\nconst lastStateWasOnline = staticData.lastStateWasOnline !== undefined ? staticData.lastStateWasOnline : true;\n\nlet shouldPing = false;\n\n// TRIGGER: Only if it WAS offline and is NOW online\nif (isOnline && !lastStateWasOnline) {\n  shouldPing = true;\n}\n\n// PERSIST: Always update the state for the next run\nstaticData.lastStateWasOnline = isOnline;\n\nreturn {\n  shouldPing,\n  isOnline,\n  version: currentVersion,\n  previous_state: lastStateWasOnline ? 'online' : 'offline'\n};"},"id":"3d8775ba-f35f-4f6b-aec6-7be0b945e248","name":"state logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,1344]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ping-gate","leftValue":"={{ $json.shouldPing }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e7ded54c-f0ec-455f-b474-81401e807d38","name":"should ping?","type":"n8n-nodes-base.if","typeVersion":2,"position":[528,1344]},{"parameters":{"chatId":"8039086930","text":"=n5xhdupe is online!\n\nhttps://minefort.com/server-list","additionalFields":{}},"id":"406c8db6-c3e4-4a80-905d-90ca941501a4","name":"ping telegram","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[752,1328],"webhookId":"f0450ec8-41c7-4af7-b64d-4ede793b3e52","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}}],"connections":{"check every 1m":{"main":[[{"node":"get status","type":"main","index":0}]]},"get status":{"main":[[{"node":"state logic","type":"main","index":0}]]},"state logic":{"main":[[{"node":"should ping?","type":"main","index":0}]]},"should ping?":{"main":[[{"node":"ping telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c00b46a0-bb97-49f1-a871-adc078a063ad","activeVersionId":null,"versionCounter":63,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-19T21:35:48.052Z","createdAt":"2026-01-19T21:35:48.052Z","role":"workflow:owner","workflowId":"ZmL7Isrw44nvUcaniToyk","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T19:53:52.705Z","createdAt":"2025-12-26T19:47:33.294Z","id":"k6TX9DXhafhdtFvobH6-n","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"2a719c08-f3e7-45d4-be6c-cfa8ce937502","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"1d69645c-b987-4a20-be79-f80b90dbaf42","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=https://cloud.houseofmates.space{{ $json.body.file }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"9e500aa0-fd93-4e5a-af10-9522b84e83d5","name":"Download APK","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"credentials":{"httpBasicAuth":{"id":"hCW1PQzn88Ukcc0j","name":"nextcloud http request"}}},{"parameters":{"url":"https://www.virustotal.com/api/v3/files/upload_url","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"318b286e-d192-45e6-9df5-768c62cf7b92","name":"Get Upload URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"method":"POST","url":"={{ $json.data }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $('Read APK File').item.binary.data }}"}]},"options":{}},"id":"f430a9bb-342f-4e72-80cd-5abca1b39ec8","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"amount":60,"unit":"seconds"},"id":"11906b46-d996-4d40-b76d-ef24c9b0bd75","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[608,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"a8974b55-ef7f-4efc-b2ef-95558ea07035","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0]},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"c933a079-0c70-4aba-bb28-bcf9b48b686d","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"b98b431f-eca5-48aa-b73d-756b5c9c36f0","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"40138c7e-f3d4-4385-a694-3d7ef69d05c8"},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"17e0afe7-dc49-4696-b9e5-ea2be2fbda7a","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK":{"main":[[{"node":"Get Upload URL","type":"main","index":0}]]},"Get Upload URL":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"47cb0307-5e07-4062-a3d3-92e9fc6158d8","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T19:47:33.294Z","createdAt":"2025-12-26T19:47:33.294Z","role":"workflow:owner","workflowId":"k6TX9DXhafhdtFvobH6-n","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-29T23:23:38.986Z","createdAt":"2026-01-29T23:13:45.548Z","id":"vMKbRl646T4XvbxmZS8js","name":"DupeMates Webhook Bridge","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-chat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1008,496],"id":"04abfb6a-b682-4033-8e76-d0c26fcd9f2c","name":"Webhook (Discord Chat)","webhookId":"46067072-f15e-4aa0-85f8-746d91daf62f"},{"parameters":{"method":"POST","url":"https://dupe.houseofmates.space/api/broadcast","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"BROADCAST_AUTH_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"chat\",\n  \"player\": \"{{$json.body.author.username}}\",\n  \"message\": \"{{$json.body.content}}\",\n  \"timestamp\": \"{{$json.body.timestamp}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1232,496],"id":"247acf0d-622b-43cc-b370-28f776323808","name":"Send to Website"},{"parameters":{"operation":"get","guildId":{"__rl":true,"value":"1466141845578059828","mode":"list","cachedResultName":"dupemates","cachedResultUrl":"https://discord.com/channels/1466141845578059828"},"channelId":{"__rl":true,"value":"1466338410024144990","mode":"list","cachedResultName":"chat-log","cachedResultUrl":"https://discord.com/channels/1466141845578059828/1466338410024144990"}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1088,672],"id":"2395ca53-c907-4925-90d9-73569d479bfa","name":"Get a channel","webhookId":"e4081de5-fd60-4a25-9744-0b4c589a2097","credentials":{"discordBotApi":{"id":"AywN40rASnermAsH","name":"discord bot"}}}],"connections":{"Webhook (Discord Chat)":{"main":[[{"node":"Send to Website","type":"main","index":0}]]},"Get a channel":{"main":[[{"node":"Send to Website","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a13335ba-f923-4d23-b589-902b8eb77b87","activeVersionId":null,"versionCounter":21,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-29T23:13:45.548Z","createdAt":"2026-01-29T23:13:45.548Z","role":"workflow:owner","workflowId":"vMKbRl646T4XvbxmZS8js","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-23T07:37:36.598Z","createdAt":"2026-01-09T19:56:25.289Z","id":"KytrscYDZCMhk5r9GKPWq","name":"pkm capture","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pkm-capture","options":{}},"id":"7514d54e-b8be-4f55-bf4b-f55c681d9156","name":"webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[672,192],"webhookId":"pkm-capture"},{"parameters":{"method":"POST","url":"https://db.houseofmates.space/api/captures","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.body.title }}"},{"name":"url","value":"={{ $json.body.url }}"},{"name":"note","value":"={{ $json.body.note }}"},{"name":"source","value":"={{ $json.body.source || 'n8n' }}"}]},"options":{"timeout":10000}},"id":"f9d567d3-35f3-4c39-9e41-83a40784b059","name":"create entry","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[896,192],"credentials":{"httpBearerAuth":{"id":"GFEvT6UoaN9XdDxA","name":"nocobase"}}}],"connections":{"webhook":{"main":[[{"node":"create entry","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eaca3a5b-b3ef-4447-b129-fb36931f8e4d","activeVersionId":"0c826982-c0ce-4738-96ce-2680ad06b193","versionCounter":36,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-09T19:56:25.289Z","createdAt":"2026-01-09T19:56:25.289Z","role":"workflow:owner","workflowId":"KytrscYDZCMhk5r9GKPWq","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T08:03:44.081Z","createdAt":"2025-12-26T07:32:08.186Z","id":"1eIWmiL9B_gIjVGVJgzDs","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"b4c75ba9-6085-4e5f-a0c5-b7984009ea26","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"d2f14910-73c9-4cc5-9bb3-cea8009c19ea","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"authentication":"oAuth2","operation":"download","path":"={{ $json.body.file }}"},"id":"770bcf5a-1984-483f-ab3b-88c7fd0957b4","name":"Download APK","type":"n8n-nodes-base.nextCloud","typeVersion":1,"position":[0,0],"credentials":{"nextCloudOAuth2Api":{"id":"XKAikI5dfpzgN6iL","name":"nextcloud oauth"}}},{"parameters":{"method":"POST","url":"https://www.virustotal.com/api/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $binary.data }}"}]},"options":{}},"id":"1e6f8129-65b8-4da0-a64c-3958bcaa1d53","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"amount":45,"unit":"seconds"},"id":"8805373c-21e8-476f-bc5e-a90017d17df0","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"2db867ec-5975-4f92-87ad-273eb602071b","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[608,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"8cca3130-e399-44cf-882f-170d1fa55bc8","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"41cb862a-9296-4900-9adc-4fe83a825e6d","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1008,0],"webhookId":"6c804a4d-0b20-43d0-825d-a89ca4320f77","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"e3b1441d-f39c-4e7d-bf0e-201e6f6adc27","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f0da761-b82d-4801-936f-c637d68ccbf4","activeVersionId":null,"versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T07:32:08.186Z","createdAt":"2025-12-26T07:32:08.186Z","role":"workflow:owner","workflowId":"1eIWmiL9B_gIjVGVJgzDs","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-09T19:40:16.913Z","createdAt":"2025-12-26T21:12:22.388Z","id":"3lfzGD6iW44gH7-b6lx5Q","name":"apk virus scanner","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"2b378143-a1f4-49f5-a2ec-24a1999e60e3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"16e517fc-35f7-4568-9b2c-ccb2b3131ecd","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"method":"POST","url":"=http://vt-upload:5555/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"file_path\": \"/nextcloud-data{{ $json.body.file }}\"\n}","options":{"timeout":10000}},"id":"17d176ca-0cfa-438f-bc79-f50b3530baf9","name":"Start VT Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0]},{"parameters":{"url":"=http://vt-upload:5555/status/{{ $json.job_id }}","options":{}},"id":"30564d77-da4a-4cce-9afe-c2fb63151bad","name":"Check Upload Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"complete"}]}},"id":"1107c584-3c88-44e8-8b7f-a8e59071413e","name":"Is Complete?","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,0]},{"parameters":{"url":"={{ $json.analysisUrl }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"1af938ea-38d2-4688-8e01-cd3ebb6e321e","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0],"credentials":{"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn [{\n  json: {\n    fileName,\n    status,\n    reason,\n    totalDetections,\n    detectionTypes: detectionTypes.slice(0, 5),\n    vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n  }\n}];"},"id":"4812a8b5-0e8d-40bd-8362-c8eda60d97ee","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"fac573e5-c1c8-4b72-a672-2ace46922222","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"4241bb1e-b693-4064-8a1a-a37636801e46","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"ad3ebc19-4cfb-490b-ae6b-5454071a90f6","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-112,528]},{"parameters":{"amount":10,"unit":"seconds"},"id":"956628af-444c-4ed6-84a3-aa44d39993f0","name":"Wait 10s More","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,160],"webhookId":"wait-retry"},{"parameters":{"amount":10,"unit":"seconds"},"id":"0918a947-24ce-4c40-bce5-f823c79fb55b","name":"Wait 10s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[208,0],"webhookId":"wait-initial"}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Start VT Upload","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Start VT Upload":{"main":[[{"node":"Wait 10s","type":"main","index":0}]]},"Check Upload Status":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}],[{"node":"Wait 10s More","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]},"Wait 10s More":{"main":[[{"node":"Check Upload Status","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Check Upload Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c67f9c7b-78ca-4058-89b7-8f8629819620","activeVersionId":"c67f9c7b-78ca-4058-89b7-8f8629819620","versionCounter":49,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T21:12:22.388Z","createdAt":"2025-12-26T21:12:22.388Z","role":"workflow:owner","workflowId":"3lfzGD6iW44gH7-b6lx5Q","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T20:32:11.225Z","createdAt":"2025-12-26T20:04:38.183Z","id":"vFfvf-YQonoyo0orlBhEd","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"e7f3fd24-1069-4a65-9877-8900a0ebb350","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"d0c8d293-17ed-41ee-928f-f5bb1b2bdc5b","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=http://nextcloud{{ $json.body.file }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"41d92c35-8361-4b79-b456-74fd8222f3a4","name":"Download APK from Nextcloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"credentials":{"httpBasicAuth":{"id":"hCW1PQzn88Ukcc0j","name":"nextcloud http request"}}},{"parameters":{"url":"https://www.virustotal.com/api/v3/files/upload_url","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"d942f31f-fe5a-4c88-b8e8-a375fc33c0dd","name":"Get Upload URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"method":"POST","url":"={{ $json.data }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $('Download APK from Nextcloud').item.binary.data }}"}]},"options":{}},"id":"d8ef3e80-3167-4442-8549-9a8fd55da10e","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"amount":60,"unit":"seconds"},"id":"761cb14a-20cd-4098-a7f3-eb632ed9bdbc","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[608,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"88d2a061-40c1-4ba0-a908-3ece65d3c0b5","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"a95db9bb-c66a-44bd-ab93-42b6945b73c3","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"86340bba-7504-4a6b-9ae7-783acaeee398","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"448e5fc7-7c74-4835-8a82-48b22d5542b1","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"ed361043-5aed-404f-98cd-81d21c286e30","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK from Nextcloud","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK from Nextcloud":{"main":[[{"node":"Get Upload URL","type":"main","index":0}]]},"Get Upload URL":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7e1e9a2a-e4d4-4b2a-bdcb-4ca2da66b9d1","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T20:04:38.183Z","createdAt":"2025-12-26T20:04:38.183Z","role":"workflow:owner","workflowId":"vFfvf-YQonoyo0orlBhEd","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T19:45:56.939Z","createdAt":"2025-12-26T08:25:25.725Z","id":"nXcCu3T7y4SdI0Hn5qsFu","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"0d6cf0e8-f243-4171-8bd8-889a08858cf9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"2a63f4f2-cf25-46cd-aec8-fa2d61171fb6","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=https://cloud.houseofmates.space/remote.php/dav/files/house{{ $json.body.file }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"93e664db-f1a8-466f-be65-2fb4c2a3c89c","name":"Download APK","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"credentials":{"httpBasicAuth":{"id":"hCW1PQzn88Ukcc0j","name":"nextcloud http request"}}},{"parameters":{"method":"POST","url":"https://www.virustotal.com/api/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $json.data }}"}]},"options":{}},"id":"ef3a78bd-c105-4cbc-ac2d-e0f8e1ee6ea8","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"amount":45,"unit":"seconds"},"id":"28094937-3daf-4786-9e63-791bd74b8e99","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"5f307c33-97e6-4a9f-9b16-ac44eeef16eb","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[608,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"bf5fb8ae-b30a-474e-ae6c-fe4bdddbb38b","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"d99ecdd9-1c65-4550-9af1-60b30e81e386","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1008,0],"webhookId":"8435e37d-e766-4931-83f7-585cfa615da8","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"49df12e4-7a29-4fc7-998f-c8098e11751a","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3134668d-4efb-4abe-a603-0aa8f74cde10","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T08:25:25.725Z","createdAt":"2025-12-26T08:25:25.725Z","role":"workflow:owner","workflowId":"nXcCu3T7y4SdI0Hn5qsFu","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T08:24:53.178Z","createdAt":"2025-12-26T08:05:20.319Z","id":"fVmJ1_TDcXDmczzJvZffB","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"ac53c007-d27d-4d47-9141-a41b71aa688f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"170a5c8d-4bba-400a-9c55-764e397650ed","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=https://cloud.houseofmates.space/remote.php/dav/files/house{{ $json.body.file }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"a04a3249-540b-4dc8-b42e-e0385edc4692","name":"Download APK","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"credentials":{"httpBasicAuth":{"id":"hCW1PQzn88Ukcc0j","name":"nextcloud http request"}}},{"parameters":{"method":"POST","url":"https://www.virustotal.com/api/v3/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $binary.data }}"}]},"options":{}},"id":"70257da5-4c1f-40b7-8900-5e45324174ba","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0]},{"parameters":{"amount":45,"unit":"seconds"},"id":"2f4841b8-f2ce-48dc-ad3e-0941e7330e30","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"60052586-a5d5-4b44-b478-73820d190ab3","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[608,0]},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"e04bd068-80b4-4183-9cfb-5dc288396cb9","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"5440b524-dd10-4552-9a15-43bfb7f5702e","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1008,0],"webhookId":"8d09c904-7de1-48db-b51b-9c19f1ffc757"},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"309f39e4-9385-4681-9fec-91eb4a72155d","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Download APK","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Download APK":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ddd768df-4ac7-4484-87c2-65c3dad0e725","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T08:05:20.319Z","createdAt":"2025-12-26T08:05:20.319Z","role":"workflow:owner","workflowId":"fVmJ1_TDcXDmczzJvZffB","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2026-01-31T02:49:37.503Z","createdAt":"2026-01-31T02:49:37.503Z","id":"SkU37tGsICF2ZOyt","name":"Minecraft Monitoring V3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"minecraft-events","options":{}},"id":"e4a2826a-9f79-44be-873b-0349c1ef763b","name":"minecraft webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[450,700],"webhookId":"minecraft-events"},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":30}]}},"id":"b0f1e2d3-c4b5-4a6b-8c7d-9e0f1a2b3c4d","name":"poll every 30s","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[450,900]},{"parameters":{"url":"https://mcapi.us/server/status?ip=dupemates.playit.pub","options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"get server status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,900]},{"parameters":{"method":"POST","url":"http://172.17.0.1:4100/api/broadcast","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"BROADCAST_AUTH_KEY"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"={{ $json.body?.type || 'ping' }}"},{"name":"player","value":"={{ $json.body?.player || 'system' }}"},{"name":"message","value":"={{ $json.body?.message || 'external-status-poll' }}"},{"name":"online","value":"={{ $json.body?.online !== undefined ? $json.body.online : ($json.online || false) }}"},{"name":"count","value":"={{ $json.body?.count !== undefined ? $json.body.count : ($json.players?.now !== undefined ? $json.players.now : ($json.players?.online || 0)) }}"},{"name":"extra","value":"={{ $json.body?.extra || { tps: 20, motd: $json.motd || ($json.motd?.clean ? $json.motd.clean[0] : 'Minecraft Server'), version: $json.server?.name || $json.version || '1.21.10', favicon: $json.favicon || '' } }}"},{"name":"timestamp","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"c6aed61f-f132-4464-9f79-677ae967a5cf","name":"send event to website","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[950,800]}],"connections":{"minecraft webhook":{"main":[[{"node":"send event to website","type":"main","index":0}]]},"poll every 30s":{"main":[[{"node":"get server status","type":"main","index":0}]]},"get server status":{"main":[[{"node":"send event to website","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"c6729fd7-3068-4fef-9311-26ea45cad88d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-31T02:49:37.503Z","createdAt":"2026-01-31T02:49:37.503Z","role":"workflow:owner","workflowId":"SkU37tGsICF2ZOyt","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T20:00:07.587Z","createdAt":"2025-12-26T19:56:09.007Z","id":"G1ZR6OXiJzyX6FJDMqomm","name":"APK VirusTotal Scanner","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"apk-scan","responseMode":"responseNode","options":{}},"id":"947fb6c7-e475-4200-8ada-1d57788755a8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"apk-scan-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.file }}","operation":"endsWith","value2":".apk"}]}},"id":"eec99fef-110e-4df5-819e-1694498ac994","name":"Filter APK Files","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"filePath":"=/nextcloud-data/house{{ $json.body.file }}"},"id":"f2792a7f-6510-44d5-adec-a684bf306c8b","name":"Read APK File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://www.virustotal.com/api/v3/files/upload_url","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"6f5c1f5d-9ebf-4ff5-9ca0-c9f51fd3e6d8","name":"Get Upload URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"method":"POST","url":"={{ $json.data }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $('Read APK File').item.binary.data }}"}]},"options":{}},"id":"66c9ba01-9a7e-4483-9d40-98e5e1bd4256","name":"Upload to VirusTotal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"amount":60,"unit":"seconds"},"id":"b10b42b4-5b25-48de-be21-7b49e1f05e3a","name":"Wait for Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[608,0],"webhookId":"auto-wait"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"id":"02e0bd3e-038b-4a34-aa65-2e426ad11587","name":"Get Analysis Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0],"credentials":{"httpHeaderAuth":{"id":"AdKJgvU8nDAwvpb2","name":"immich api key"},"virusTotalApi":{"id":"NndBVtB4MhiircJn","name":"virustotal api key"}}},{"parameters":{"jsCode":"const filePath = $('Webhook').item.json.body.file;\nconst fileName = filePath.split('/').pop();\nconst results = $json.data.attributes.stats;\nconst scans = $json.data.attributes.results;\n\nconst malicious = results.malicious || 0;\nconst suspicious = results.suspicious || 0;\nconst totalDetections = malicious + suspicious;\n\nconst reputableEngines = [\n  'Kaspersky', 'ESET-NOD32', 'Bitdefender', 'Microsoft', \n  'Google', 'Sophos', 'TrendMicro', 'McAfee', 'Avast'\n];\n\nlet hasReputableDetection = false;\nlet detectionTypes = [];\n\nfor (const [engine, result] of Object.entries(scans)) {\n  if (result.category === 'malicious' || result.category === 'suspicious') {\n    const detectionName = result.result || '';\n    detectionTypes.push(`${engine}: ${detectionName}`);\n    \n    if (reputableEngines.includes(engine)) {\n      if (!detectionName.toLowerCase().includes('pup') && \n          !detectionName.toLowerCase().includes('pua')) {\n        hasReputableDetection = true;\n      }\n    }\n  }\n}\n\nlet status = 'safe';\nlet reason = '';\n\nif (hasReputableDetection) {\n  status = 'unsafe';\n  reason = 'reputable engine flagged non-pup threat';\n} else if (totalDetections > 5) {\n  status = 'unsafe';\n  reason = `${totalDetections} detections total`;\n} else if (totalDetections >= 1 && totalDetections <= 3) {\n  status = 'safe';\n  reason = 'low detection count from minor engines';\n} else if (totalDetections === 0) {\n  status = 'safe';\n  reason = 'no detections';\n} else {\n  status = 'review';\n  reason = `${totalDetections} detections - manual check recommended`;\n}\n\nreturn {\n  fileName,\n  status,\n  reason,\n  totalDetections,\n  detectionTypes: detectionTypes.slice(0, 5),\n  vtLink: $json.data.links.self.replace('/api/v3/analyses/', '/gui/file/')\n};"},"id":"bf9412ab-fb26-4aa6-81f8-af1f9c3496e5","name":"Process Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"chatId":"8039086930","text":"=*{{ $json.status }}* - {{ $json.fileName }}\n\n{{ $json.reason }}\ndetections: {{ $json.totalDetections }}\n\n{{ $json.detectionTypes.join('\\n') }}\n\n[view on virustotal]({{ $json.vtLink }})","additionalFields":{"parse_mode":"Markdown"}},"id":"9037cbdb-17a7-435d-a8df-942ba45d544b","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"8bb388c6-db56-4071-85fb-3f9fa3d0250e","credentials":{"telegramApi":{"id":"wKUq3NB7qKPuTI37","name":"telegram bot"}}},{"parameters":{"respondWith":"text","responseBody":"=scan started for {{ $('Webhook').item.json.body.file }}","options":{}},"id":"dc18e4b8-be7b-4f43-bf53-d7317112f483","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Filter APK Files","type":"main","index":0}]]},"Filter APK Files":{"main":[[{"node":"Read APK File","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]},"Read APK File":{"main":[[{"node":"Get Upload URL","type":"main","index":0}]]},"Get Upload URL":{"main":[[{"node":"Upload to VirusTotal","type":"main","index":0}]]},"Upload to VirusTotal":{"main":[[{"node":"Wait for Scan","type":"main","index":0}]]},"Wait for Scan":{"main":[[{"node":"Get Analysis Results","type":"main","index":0}]]},"Get Analysis Results":{"main":[[{"node":"Process Results","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f233e35-a807-4f08-ba33-f8e96b49f892","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T19:56:09.007Z","createdAt":"2025-12-26T19:56:09.007Z","role":"workflow:owner","workflowId":"G1ZR6OXiJzyX6FJDMqomm","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]},{"updatedAt":"2025-12-26T08:03:47.287Z","createdAt":"2025-12-26T07:16:52.812Z","id":"Z2Z8S0PtzXE2F81KkgXrt","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"VirusTotal Report","type":"n8n-nodes-base.virusTotal","typeVersion":1,"position":[320,-144],"id":"db6417e8-c9d7-43df-aee0-dae050cb9a4f","credentials":{}},{"parameters":{"jsCode":"const stats = items[0].json.attributes.last_analysis_stats;\nconst results = items[0].json.attributes.last_analysis_results;\nconst reputableEngines = ['Kaspersky', 'Bitdefender', 'Microsoft', 'ESET', 'Sophos', 'Symantec'];\n\nlet maliciousCount = stats.malicious;\nlet verdict = \"safe\";\nlet reasons = [];\n\n// 1. Hard fail if more than 5 detections\nif (maliciousCount > 5) {\n  verdict = \"unsafe\";\n  reasons.push(`High detection count: ${maliciousCount}`);\n}\n\n// 2. Nuanced check for 1-5 detections\nif (verdict === \"safe\" && maliciousCount > 0) {\n  let seriousThreats = 0;\n  \n  for (const engine in results) {\n    const scan = results[engine];\n    if (scan.category === 'malicious') {\n      const label = scan.result.toLowerCase();\n      const isPUP = label.includes('pup') || label.includes('pua') || label.includes('grayware');\n      const isReputable = reputableEngines.includes(engine);\n\n      if (!isPUP) {\n        if (isReputable) {\n          seriousThreats += 1;\n          reasons.push(`${engine} detected: ${scan.result}`);\n        }\n      }\n    }\n  }\n\n  if (seriousThreats > 0) {\n    verdict = \"unsafe\";\n  }\n}\n\nreturn [{ json: { verdict, maliciousCount, reasons } }];"},"name":"The Wilson Logic","type":"n8n-nodes-base.code","typeVersion":1,"position":[528,-144],"id":"9fb1d545-e0c8-42d7-a313-99f4f734a948"}],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"4a99f44a-ce9f-4cbd-8a4d-40b237cba1e5","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T07:16:52.812Z","createdAt":"2025-12-26T07:16:52.812Z","role":"workflow:owner","workflowId":"Z2Z8S0PtzXE2F81KkgXrt","projectId":"teDkjWssk6qcQaUW","project":{"updatedAt":"2025-12-19T02:22:06.875Z","createdAt":"2025-12-19T02:19:38.704Z","id":"teDkjWssk6qcQaUW","name":"house of mates <houseofmates@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"56a226e7-cf79-465c-a2f5-749dc545c7b3"}}]}]