unified_pkm.json
{
  "updatedAt": "2026-01-23T07:37:36.598Z",
  "createdAt": "2026-01-09T19:56:25.289Z",
  "id": "KytrscYDZCMhk5r9GKPWq",
  "name": "pkm capture",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pkm-capture",
        "options": {}
      },
      "id": "7514d54e-b8be-4f55-bf4b-f55c681d9156",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "webhookId": "pkm-capture"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://db.houseofmates.space/api/captures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.body.title }}"
            },
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "note",
              "value": "={{ $json.body.note }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source || 'n8n' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "f9d567d3-35f3-4c39-9e41-83a40784b059",
      "name": "create entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        896,
        192
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GFEvT6UoaN9XdDxA",
          "name": "nocobase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.player !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "router-node",
      "name": "Router (Minecraft vs PKM)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "poll-node",
      "name": "poll every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://mcapi.us/server/status?ip=dupemates.playit.pub",
        "options": {}
      },
      "id": "get-status-node",
      "name": "get server status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:4100/api/broadcast",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEsInJvbGVOYW1lIjoicm9vdCIsImlhdCI6MTc2OTY2MTcwMiwiZXhwIjozMzMyNzI2MTcwMn0.aMl0pcnaUOlmeJwkODjVjSIqYhs1OxZDtPbNKv66fnE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.body?.type || 'ping' }}"
            },
            {
              "name": "player",
              "value": "={{ $json.body?.player || 'system' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body ? JSON.stringify($json.body) : ($json.body?.message || 'external-status-poll') }}"
            },
            {
              "name": "online",
              "value": "={{ $json.body?.online !== undefined ? $json.body.online : ($json.online || false) }}"
            },
            {
              "name": "count",
              "value": "={{ $json.body?.count !== undefined ? $json.body.count : ($json.players?.now !== undefined ? $json.players.now : ($json.players?.online || 0)) }}"
            },
            {
              "name": "extra",
              "value": "={{ $json.body?.extra || { tps: 20, motd: 'Minecraft Server', version: '1.21.10' } }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-node",
      "name": "send event to website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        400
      ]
    }
  ],
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "Router (Minecraft vs PKM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Minecraft vs PKM)": {
      "main": [
        [
          {
            "node": "send event to website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "poll every 30s": {
      "main": [
        [
          {
            "node": "get server status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get server status": {
      "main": [
        [
          {
            "node": "send event to website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eaca3a5b-b3ef-4447-b129-fb36931f8e4d",
  "activeVersionId": "0c826982-c0ce-4738-96ce-2680ad06b193",
  "versionCounter": 36,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-09T19:56:25.289Z",
      "createdAt": "2026-01-09T19:56:25.289Z",
      "role": "workflow:owner",
      "workflowId": "KytrscYDZCMhk5r9GKPWq",
      "projectId": "teDkjWssk6qcQaUW",
      "project": {
        "updatedAt": "2025-12-19T02:22:06.875Z",
        "createdAt": "2025-12-19T02:19:38.704Z",
        "id": "teDkjWssk6qcQaUW",
        "name": "house of mates <houseofmates@pm.me>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "56a226e7-cf79-465c-a2f5-749dc545c7b3"
      }
    }
  ]
}